body{
font-family: 'Raleway', sans-serif;
height: 100%

}

 html {
  height: 100%;
}

.content {

padding-top: -1000px;


}

.content hr {
    width: 1000%;
    margin-left: -500%;
}


.underline {
text-decoration: underline;

}

.content2{
align-content: center;

}

.inline {
padding-right: 250px;

}

.child-right{
float: right;
  white-space: nowrap;
  padding-top:-10px;
}

ul{
padding-bottom: 10px;

}

hr {
color: solid black 1px;
background-color: solid black 1px;

}

.height-full {
  height: 100vh;
}

a{
text-decoration: none;
color: black;

}
